<% if message.sender_id != @chat_user_id %>
	<%= turbo_frame_tag dom_id(message), data: {controller: "message", message_id_value: message.sender_id}, class: " flex flex-col items-end group/message" do %>
		<div data-message-target="innerDiv" class=" flex gap-2 items-center justify-end max-w-[75%]">
			<div data-controller="popup" data-message-target="popup">
				<div data-action="click->popup#show" class="text-neutral-300 relative hidden group-hover/message:block cursor-pointer p-1">
					<%= render "shared/svg/threedots" %>
				</div>
				<div data-popup-target="content" class="min-w-[8rem] p-1 flex flex-col gap-[2px] z-50 hidden absolute bg-stone-900 rounded -ml-16">
					<%= link_to edit_message_path(message), class: "p-1 rounded hover:bg-purple-500 flex items-center gap-2" do %>
						<%= render "shared/svg/edit" %>
						<span>Edit</span>
					<% end %>
					<%= button_to delete_message_path(message), method: :delete, class: " flex items-center gap-2 p-1 rounded hover:bg-red-500 w-full" do %>
						<%= render "shared/svg/delete" %>
						<span>Delete</span>
					<% end %>
				</div>
				 <div data-action="click->popup#hide" data-popup-target="overlay" class="fixed inset-0 w-full h-full bg-black opacity-50 z-40 hidden"></div>
			</div>
			<div data-message-target="contentDiv" class="bg-white text-black p-4 rounded-3xl rounded-br max-w-[100%]">
				<%= simple_format message.body, class: "inline break-words whitespace-pre-wrap" %>
				<% if message.edited %><span class="text-[#71767b] text-sm">(edited)</span><% end %>
			</div>
		</div>
		<span class="text-[12px] text-[#71767b]"><%= local_time_ago(message.created_at) %></span>
	<% end %>
<% else %>
	<%= turbo_frame_tag dom_id(message), class: "w-full flex flex-col" do %>
		<div class="self-start flex gap-2 items-center max-w-[75%]">
			<div class=" bg-stone-800 text-white p-4 rounded-3xl rounded-bl self-start max-w-[100%]">
				<%= simple_format message.body, class: "inline break-words whitespace-pre-wrap"  %>
				<% if message.edited %><span class="text-[#71767b] text-sm">(edited)</span><% end %>
			</div>
		</div>
		<span class="text-[12px] text-[#71767b]"><%= local_time_ago(message.created_at) %></span>
	<% end %>
<% end %>
