<%= turbo_frame_tag dom_id(@message) do %>
	<%= form_with model:@message, url: update_message_path, class: "bg-white text-black p-4 rounded-3xl rounded-br flex flex-col", data: { controller: "form", action: "keydown.esc->form#close" } do |form| %>
		<%= form.text_area :body, rows: 1, data: {action: "form#resize keydown.enter->form#submit", form_target: "input"}, autofocus: true, class: "outline-0 border-0 focus:ring-0 resize-none" %>
		<div class="self-end flex gap-2 ">
			<%= link_to "Cancel", :back, data: { form_target: "closeBtn" }, class: "cursor-pointer py-2 px-3 border-2 border-black text-black rounded-lg" %>
			<%= form.submit "Update", data: {form_target: "submitButton"}, class: "cursor-pointer py-2 px-3 bg-[#95b3c7] rounded-lg text-black" %>
		</div>
	<% end %>
<% end %>