<div class="h-screen grid place-items-center">
  <div class="bg-stone-900 p-6 rounded-lg flex flex-col items-center">
    <h1 class="text-3xl pb-2">Sign Up</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="flex flex-col pb-4">
        <%= f.label :username %>
        <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "Username", class: "text-black rounded mt-[2px] w-full" %>
      </div>

      <div class="flex flex-col pb-4">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address", class: "text-black rounded mt-[2px] w-full" %>
      </div>

      <div class="flex flex-col pb-4">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em class="text-sm">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "text-black rounded mt-[2px] w-full" %>
      </div>

      <div class="flex flex-col">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "text-black rounded mt-[2px] w-full" %>
      </div>

      <div class="actions mt-4">
        <%= f.submit "Sign up", class: "w-full bg-primary text-black py-2 rounded-lg" %>
      </div>
  <% end %>
  <div class="mt-4 flex flex-col items-center gap-2">
    <%= render "devise/shared/links" %>
  </div>
  </div>
</div>
